<div class='publicityBanner'>
  <p><i class='material-icons'>local_shipping</i> Envíos a todo el país</p>
  <p><i class='material-icons'>credit_card</i> 3 Cuotas sin interés</p>
  <p><i class='material-icons'>phone</i> 0800-777-NISCHE</p>
</div>
<nav class='navbar'>
  {{#if session}}
    <div>
      <a onclick="location.href='/products'"><img src='https://i.ibb.co/nrNMjtT/logo.png' alt='logo' width='100px' style='margin-left: 1.4rem;' /></a>
    </div>
    <div>
      <h2 class='navbar__title'>CHECKOUT</h2>
    </div>
    <div class='navbar__content'>
      <a href='/api/sessions/current' class='navbar__link cartInfo' id='{{session.cartID}}'>
        <button class='navbar__button averageButton'><span class='icon'><i class='material-icons'>account_circle</i></span><span>{{session.firstName}}</span></button></a>
      <button class='navbar__logout-btn averageButton' onclick="location.href='/chat'">
        <i class='material-icons'>chat</i>
        Chat
      </button>
      <button id='logout-btn' class='navbar__logout-btn averageButton'><span class='icon'><i class='material-icons'>exit_to_app</i></span><span>Salir</span></button>
    </div>
  {{else}}
    <p class='navbar__guest-message'>Bienvenido a la tienda</p>
    <a href='/?login=true' class='navbar__link button is-light'>INICIAR SESIÓN</a>
    <a href='/?register=true' class='navbar__link button is-primary'>REGISTRO</a>
  {{/if}}
</nav>
{{#if cart.length}}
  <table class='table__cart'>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each cart}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.price}}</td>
          <td>{{this.quantity}}</td>
          <td class='infoProduct' id='{{this._id}}'></td>
          <td><button onclick="removeProductFromCart('{{userCartId}}', '{{this.product._id}}')">Eliminar</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class='cartButtons'>
    <button class='averageButton' onclick='clearCart()'><i class='material-icons'>shopping_cart</i>Vaciar carrito</button>
    <a href='/carts/{{userCartId}}/purchase' class='averageButton'>
      <span class='icon'>
        <i class='material-icons'>done</i>
      </span><span>Finalizar compra</span></a>
    <button class='averageButton' onclick="location.href='/products'"><span class='icon'>
        <i class='material-icons'>arrow_back</i></span><span>Seguir comprando</span>
    </button>
  </div>
{{else}}
  <p>No hay productos en el carrito</p>
  <button class='averageButton' onclick="location.href='/products'"><span class='icon'>
      <i class='material-icons'>arrow_back</i></span><span>Seguir comprando</span>
  </button>
{{/if}}
<a class='infoCart' id='{{userCartId}}'></a>

<script src='/js/cart.js'></script>
<script src='/js/profile.js'></script>