<div class='publicityBanner'>
  <p><i class='material-icons'>local_shipping</i> Envíos a todo el país</p>
  <p><i class='material-icons'>credit_card</i> 3 Cuotas sin interés</p>
  <p><i class='material-icons'>phone</i> 0800-777-NISCHE</p>
</div>
<nav>
  <div class='desktopNavbar'>
    <span class='desktopNavLinkLogo'>Nische Store</span>
    <div class='desktopNavLeft'>
    </div>
    <div class='dropdown'>
      <a href='#'>Mujer</a>
      <div class='dropdown-content'>
        <a href='#'>Camisetas</a>
        <a href='#'>Pantalones</a>
        <a href='#'>Zapatillas</a>
      </div>
    </div>
    <div class='dropdown'>
      <a href='#'>Hombre</a>
      <div class='dropdown-content'>
        <a href='#'>Camisetas</a>
        <a href='#'>Pantalones</a>
        <a href='#'>Zapatillas</a>
      </div>
    </div>
    <div class='dropdown'>
      <a href='#'>Niño</a>
      <div class='dropdown-content'>
        <a href='#'>Camisetas</a>
        <a href='#'>Pantalones</a>
        <a href='#'>Zapatillas</a>
      </div>
    </div>
    <div class='desktopNavRight'>
      {{#if session}}
        <a href='/api/sessions/current' class='cartInfo' id='{{session.cartID}}'><img src='/images/login.png' alt='Icono login' /><span class='desktopNavIcon'>{{session.firstName}}</span></a>
        <a id='logout-btn' type='submit' class='desktopNavIcon'><i class='material-icons'>exit_to_app</i>Salir</a>
      {{else}}
        <div class='desktopNavLog'>
          <a href='/?login=true'><img src='/images/login.png' alt='Icono login' /><span class='desktopNavLink'>Login</span></a>
        </div>
        <div class='desktopNavLog'>
          <a href='/?register=true' class='desktopNavLink'>Registro</a>
        </div>
      {{/if}}
      <div class='search-icon' id='search-icon'>
        <img class='desktopNavIcon material-icons' src='/images/lupa.png' alt='Lupa' id='search-icon-img' />
      </div>
      <div class='search-box' id='search-box'>
        <form id='search-form'>
          <input type='text' id='search-input' name='query' placeholder='Buscar...' />
          <button type='submit'>Buscar</button>
        </form>
      </div>
      <div>
        <a onclick="location.href='/carts/{{session.cartID}}'"><img class='desktopNavIcon' src='/images/carrito.png' alt='carrito' /></a>
      </div>
      <div>
        <img class='desktopNavIcon' src='/images/corazon.png' alt='icnsettingsicnxs8081' />
      </div>
    </div>
    {{#if isAdmin}}
      <div class='admin-button'>
        <button class='button is-info' onclick="location.href='http://localhost:8080/api/sessions/adminControl'">
          <span class='icon'><i class='material-icons'>admin_panel_settings</i></span>
          <span>Panel de Administrador</span>
        </button>
      </div>
    {{/if}}
  </div>
</nav>
<section>
  <div style='display: flex; justify-content: space-between; padding: 30px'>
    <div>
      ORDENAR POR PRECIO
      <a href='?page=1&limit={{paginationInfo.limit}}&sort=asc&price={{price}}&status={{status}}'>⬆️</a>
      <a href='?page=1&limit={{paginationInfo.limit}}&sort=desc&price={{price}}&status={{status}}'>⬇️</a>
    </div>
  </div>
  <div class='row product justify-content-evenly'>
    {{#each productsVisualice}}
      <div class='containerCard containerProd' style='width: 14rem; margin-top: 5px;' id='{{this._id}}'>
        <div style='margin-top: 10px; width:200px; height:200px;'>
          <a onclick="location.href='/products/{{this._id}}'"><img src={{this.thumbnail}} alt='foto de Product {{this.id}}' /></a>
        </div>
        <div class='card-body'>
          <h3 id='titleProduct' class='card-title'>{{this.title}}</h3>
          <p id='descriptionProduct' class='card-text'>{{this.description}}</p>
          <p id='priceProduct' class='card-text'>$ {{this.price}}</p>
          <button onclick="putIntoCart('{{this._id}}')"><i class='material-icons'>shopping_basket</i></button>
          <br />
        </div>
      </div>
    {{/each}}
  </div>
  {{#if isPremium}}
    <div class='admin-button'>
      <button class='button is-info' onclick="location.href='http://localhost:8080/realtimeproducts'">
        <span class='icon'><i class='material-icons'>add</i></span>
        <span>Crear producto</span>
      </button>
    </div>
  {{/if}}
  {{#if isAdmin}}
    <div class='admin-button'>
      <button class='button is-info' onclick="location.href='http://localhost:8080/realtimeproducts'">
        <span class='icon'><i class='material-icons'>add</i></span>
        <span>Crear producto</span>
      </button>
    </div>
  {{/if}}
</section>
<section>
  <div style='display: flex; justify-content: center; margin-top: 30px'>
    <div class='pagination'>
      {{#if paginationInfo.hasPrevPage}}
        <a href='?page={{paginationInfo.prevPage}}&limit={{paginationInfo.limit}}&sort={{sort}}&price={{price}}&status={{status}}'>⬅️ Anterior</a>
      {{/if}}
      <span style='margin-left: 20px; margin-right: 20px'>Página {{paginationInfo.page}} de {{paginationInfo.totalPages}}</span>
      {{#if paginationInfo.hasNextPage}}
        <a href='?page={{paginationInfo.nextPage}}&limit={{paginationInfo.limit}}&sort={{sort}}&price={{price}}&status={{status}}'>Siguiente ➡️</a>
      {{/if}}
    </div>
  </div>
</section>
<div class='chatButton'>
  <button onclick="location.href='/chat'">
    <i class='material-icons'>chat</i></button>
</div>

<script src='/js/index.js'></script>
<script src='/js/home.js'></script>
<script src='/js/profile.js'></script>
<script src='/js/cart.js'></script>