<div class='product-card'>
  <h1>
    {{product.title}}
  </h1>
  <img src='{{product.thumbnail}}' alt='imagen del producto' />
  <h2>
    Precio:
    {{product.price}}
  </h2>
  <h2>
    Categoria:
    {{product.category}}
  </h2>
  <h2>
    Descripcion:
    {{product.description}}
  </h2>
  <button class='averageButton' onclick="location.href='/products'">Volver</button>
</div>