<nav class='navbar'>
  {{#if realTimeProductsRender.realTimeProductsContext.session}}
    <div>
      <a onclick="location.href='/products'"><img src='https://i.ibb.co/nrNMjtT/logo.png' alt='logo' width='100px' style='margin-left: 1.4rem;' /></a>
    </div>
    <div>
      <h2 class='navbar__title'>{{realTimeProductsRender.realTimeProductsContext.session.firstName}} crea tus productos.</h2>
    </div>
    <div class='navbar__content'>
      <a href='/api/sessions/current' class='navbar__link cartInfo' id='{{realTimeProductsRender.realTimeProductsContext.session.cartID}}'>
        <button class='navbar__button averageButton'><span class='icon'><i class='material-icons'>account_circle</i></span><span
          >{{realTimeProductsRender.realTimeProductsContext.session.firstName}}</span></button></a>
      <button class='navbar__logout-btn averageButton' onclick="location.href='/chat'">
        <i class='material-icons'>chat</i>
        Chat
      </button>
      <a onclick="location.href='/carts/{{realTimeProductsRender.realTimeProductsContext.session.cartID}}'">
        <button class='navbar__button averageButton'><span class='icon'><i class='material-icons'>shopping_cart</i></span><span>Mi compra</span></button></a>
      <button id='logout-btn' class='navbar__logout-btn averageButton'><span class='icon'><i class='material-icons'>exit_to_app</i></span><span>Salir</span></button>
    </div>
  {{else}}
    <p class='navbar__guest-message'>Bienvenido a la tienda</p>
    <a href='/?login=true' class='navbar__link button is-light'>INICIAR SESIÓN</a>
    <a href='/?register=true' class='navbar__link button is-primary'>REGISTRO</a>
  {{/if}}
  {{#if realTimeProductsRender.realTimeProductsContext.isAdmin}}
    <div class='admin-button'>
      <button class='button is-info' onclick="location.href='http://localhost:8080/api/sessions/adminControl'">
        <span class='icon'><i class='material-icons'>admin_panel_settings</i></span>
        <span>Panel de Administrador</span>
      </button>
    </div>
  {{/if}}
</nav>
<section>
  <form id='formProducts' class='styleForm' action='/api/products' method='post' enctype='multipart/form-data'>
    <h3 class='is-size-3 mb-5'>Ingrese un nuevo producto</h3>
    <div class='field'>
      <label for='title' class='label'>Título</label>
      <div class='control'>
        <input class='input is-success' type='text' placeholder='Agregar un titulo al producto' value='' name='title' />
      </div>
    </div>
    <div class='field'>
      <label class='label'>Descripción</label>
      <div class='control'>
        <textarea value='' name='description' class='textarea is-success' placeholder='Ingrese una breve descripción del producto' rows='3'></textarea>
      </div>
    </div>
    <div class='field'>
      <label class='label'>Código</label>
      <div class='control'>
        <input class='input is-success' type='text' placeholder='Ingrese el código del producto' value='' name='code' />
      </div>
    </div>
    <div class='field'>
      <label class='label'>Precio</label>
      <div class='control'>
        <input class='input is-success' type='text' placeholder='Ingrese el precio del producto' value='' name='price' />
      </div>
    </div>
    <div class='field'>
      <label class='label'>Stock</label>
      <div class='control'>
        <input class='input is-success' type='number' min='0' max='10000' value='0' name='stock' />
      </div>
    </div>
    <div class='field'>
      <label class='label'></label>
      <div class='control'>
        <input style='margin-top: 10px' type='hidden' class='form-control' value='true' name='status' required />
      </div>
    </div>
    <div class='field'>
      <label class='label'>Categoría</label>
      <div class='control'>
        <div class='select is-primary'>
          <select name='category'>
            <option value='Camisetas'>Camisetas</option>
            <option value='Shorts'>Shorts</option>
            <option value='Medias'>Medias</option>
            <option value='Botines'>Botines</option>
            <option value='Camperas'>Camperas</option>
          </select>
        </div>
      </div>
    </div>
    <div class='field'>
      <label class='label'>Imagen (URL o archivo)</label>
      <div class='control'>
        {{! <input class='input is-success' type='text' placeholder='Ingrese una URL con la imagen del producto' value='' name='thumbnail' /> }}
        <input type='file' id='thumbnail' name='thumbnail' />
      </div>
    </div>
    <div class='field is-grouped'>
      <div class='control'>
        <button class='button is-primary is-light' type='submit'>Agregar</button>
      </div>
    </div>
  </form>
</section>
<section class='mt-6'>
  <div id='cardContainer' style='text-align: center;' class='container is-flex is-flex-wrap-wrap'>
    <div>
      ORDENAR
      <a href='?page={{paginationInfo.page}}&limit={{paginationInfo.limit}}&sort=asc'>⬆️</a>
      <a href='?page={{paginationInfo.page}}&limit={{paginationInfo.limit}}&sort=desc'>⬇️</a>
    </div>
    {{#each realTimeProductsRender.productsVisualice}}
      <div class='card' style='width: 150px; margin: 20px'>
        <div class='card-image' style='padding: 15px'>
          <figure class='image is-4by3'>
            <img src={{this.thumbnail}} alt='foto de Product {{this.id}}' />
          </figure>
        </div>
        <div class='card-content'>
          <div class='media'>
            <div class='media-content'>
              <p class='title is-6'>Nombre: {{this.title}}</p>
              <p class='subtitle is-6'>Descripción: {{this.description}}</p>
              <p class='subtitle is-6'>Precio: {{this.price}}</p>
              <p class='subtitle is-6'>Stock: {{this.stock}}</p>
              <p class='subtitle is-6'>Categoria: {{this.category}}</p>
            </div>
          </div>
          <button class='button is-small delete-button' type='button' data-product-id='{{this._id}}' onclick='deleteProduct("{{this._id}}")'>
            <ion-icon name='trash'></ion-icon>
          </button>
        </div>
      </div>
    {{/each}}
  </div>
  <div style='display: flex; justify-content: center; margin-top: 30px'>
    <div class='pagination'>
      {{#if realTimeProductsRender.paginationInfo.hasPrevPage}}
        <a href='?page={{realTimeProductsRender.paginationInfo.prevPage}}&limit={{realTimeProductsRender.paginationInfo.limit}}&sort={{realTimeProductsRender.sort}}'>⬅️ Anterior</a>
      {{/if}}
      <span style='margin-left: 20px; margin-right: 20px'>
        Página
        {{realTimeProductsRender.paginationInfo.page}}
        de
        {{realTimeProductsRender.paginationInfo.totalPages}}
      </span>
      {{#if realTimeProductsRender.paginationInfo.hasNextPage}}
        <a href='?page={{realTimeProductsRender.paginationInfo.nextPage}}&limit={{realTimeProductsRender.paginationInfo.limit}}&sort={{sort}}'>Siguiente ➡️</a>
      {{/if}}
    </div>
  </div>
</section>
<script src='/js/index.js'></script>